* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Morris Roman";
  src: url('font/morris.ttf');
}

body {
  font-family: "Morris Roman";
  color: #FFFFFF;
  background: url('./img/bg-dark.png') no-repeat center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
button,
.btn {
  font-family: "Morris Roman";
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}
h1{
  font-size: 65px;
  font-style: oblique;
}
h2{
  font-size: 55px;
  font-style: oblique;
}
h3{
  font-size: 45px;
  font-style: oblique;
}
h4{
  font-size: 35px;
}
p{
  font-size: 30px;
  text-shadow: 2px 2px #000000;
}
button,
.btn {
  font-size: 25px;
}

.site-header {
  padding-top: 50px;
  padding-bottom: 150px;
  background: url('./img/bg-highlight.png') no-repeat;
  background-size: contain;
}
.section-feature {
  padding-top: 50px;
  padding-bottom: 150px;
  background: url('./img/bg-highlight.png') no-repeat;
  background-size: contain;
}

